link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png?v=Jy7vdGdbrb')
link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png?v=Jy7vdGdbrb')
link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png?v=Jy7vdGdbrb')
link(rel='manifest' href='/manifest.json?v=Jy7vdGdbrb')
link(rel='mask-icon' href='/safari-pinned-tab.svg?v=Jy7vdGdbrb' color='#7448ff')
link(rel='shortcut icon' href='/favicon.ico?v=Jy7vdGdbrb')
meta(name='theme-color' content='#ffffff')
