meta(name='description' content='Inforced – A web agency taking you into the 21st century')
meta(name='keywords' content='inforced, web, agency, design, develop, web, product')
meta(property='og:type' content='website')
meta(property='og:site_name' content='Inforced.io')
meta(property='og:title' content='Inforced.io')
meta(property='og:url' content='https://inforced.io/')
meta(property='og:description' content='Inforced – A web agency taking you into the 21st century')
meta(property='og:locale' content='sv_SE')
meta(property='og:image' content='https://inforced.io/images/card.png')
meta(property='og:image:secure_url' content='https://inforced.io/images/card.png')
meta(property='og:image:type' content='image/png')
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:creator' content='@InforcedTV')
meta(name='twitter:site' content='@InforcedTV')
meta(name='twitter:title' content='Inforced.io')
meta(name='twitter:description' content='Inforced – A web agency taking you into the 21st century')
meta(name='twitter:image' content='https://inforced.io/images/card.png')
