doctype html
html
    head
        title Inforced - Web Agency
        include includes/favicons.pug
    body
        .head
            .head-menu
                .head-menu-list
                    .head-menu-list-item
                        p Om Oss
                    .head-menu-list-item
                        p Kontakt
            .head-logo
                img(src='./assets/logo.svg')
            .head-arrow
                img(src='./assets/arrow.svg')