doctype html
html(lang='sv')
    head
        title Inforced - Webbbyrå
        include includes/favicons.pug
        include includes/meta.pug
        include includes/seo.pug
    body
        .head
            .head-menu
                .head-menu-list
                    .head-menu-list-item
                        h4 Om Oss
                    .head-menu-list-item
                        h4 Kontakt
            .head-logo
                img(alt='Inforceds logotyp' src='./assets/logo.svg')
            .head-arrow
                img(alt='Nedåtriktad pil' src='./assets/arrow.svg')
        .services
            h1.service Reklam
            h1.service Video
            h1.service Webb
