doctype html
html(lang='sv')
    head
        title Inforced - Webbbyrå
        include includes/meta.pug
        include includes/favicons.pug
    body
        .head
            .head-menu
                .head-menu-list
                    .head-menu-list-item
                        p.gilroy Om Oss
                    .head-menu-list-item
                        p.gilroy Kontakt
            .head-logo
                img(alt='En kvinnas nacke' src='./assets/logo.svg')
            .head-arrow
                img(alt='Nedåtriktad pil' src='./assets/arrow.svg')